[Unit]
Description=StromPi UPS agent
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /usr/sbin/strompiSerialShutdown.py
StandardOutput=journal
StandardError=journal
SyslogIdentifier=StromPi
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
